@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border: none;
  outline: none;
}

* {
  /* transition: 200ms ease-out; */
}

.google_text {
  @apply text-google font-semibold text-sm font-[600];
}

select {
  @apply outline-none border-none;
}

svg {
  @apply max-w-full;
}

.terminal-window {
  background-image: url("/img/wellper.jpg");
  background-size: cover;
  background-position: center;
}
